*, *:before, *:after {
  box-sizing: border-box;
}

.container {
position: relative;
width: 375px;
height: 667px;
max-height: 401px;
background: #EFEFF4;
}
.sub-container {
  background-color: #EFEFF4;
  position: fixed;
  height: 100%;
  width: 375px;
  margin-top: -98px;
  max-height: 309px;
  overflow-x: hidden;
   overflow-y: scroll;
}

.hover:hover{
  background-color: lightgrey;
}

.ui-footer {
  background-color: /*e9e9ea*/ #e9e9ea;
  position: fixed;
  width: 375px;
  height: 100%;
  max-height: 49px;
  margin-top: 167px;
  border-top: .5px solid #BCBBC1;
  z-index: 2500;
}

h1 {
  font-family: SF Mono;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 36px;
}
/*top increases in intervals of 45px*/
.bus1 {
  position: relative;
width: 56px;
height: 21px;
left: 21px;
top: 5px;
}
.bus2 {
  position: absolute;
width: 56px;
height: 21px;
left: 13px;
top: 49px;
}
.bus3{
  position: absolute;
width: 56px;
height: 21px;
left: 13px;
top: 94px;
}
.bus4{
  position: absolute;
width: 56px;
height: 21px;
left: 13px;
top: 139px;
}
.bus5{
  position: absolute;
width: 56px;
height: 21px;
left: 13px;
top: 182px;
}
.bus6{
  position: absolute;
width: 56px;
height: 21px;
left: 21px;
top: 225px;
}
.bus7{
  position: absolute;
width: 56px;
height: 21px;
left: 21px;
top: 269px;
}
.bus8{
  position: absolute;
width: 56px;
height: 21px;
left: 21px;
top: 313px;
}
.bus9{
  position: absolute;
width: 56px;
height: 21px;
left: 13px;
top: 358px;
}
h2 {
  font-family: SF Mono;
font-style: normal;
font-size: 16px;
font-weight: 500;
line-height: 19px;
display: flex;
align-items: center;
}
/*top increases in intervals of 45px*/
.time1 {
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 10px;
}
.time2 {
  position: absolute;
width: 44px;
height: 16px;
left: 288px;
top: 56px;
}
.time3 {
  position: absolute;
  width: 44px;
  height: 11px;
  left: 288px;
  top: 100px;
}
.time4 {
  position: absolute;
  width: 44px;
  height: 11px;
  left: 288px;
  top: 142px;

}
.time5 {
  position: absolute;
  width: 44px;
  height: 11px;
  left: 288px;
  top: 184px;
}
.time6 {
  position: absolute;
  width: 44px;
  height: 11px;
  left: 288px;
  top: 231px;
}
.time7 {
  position: absolute;
  width: 44px;
  height: 11px;
  left: 288px;
  top: 274px;
}
.time8 {
  position: absolute;
  width: 44px;
  height: 11px;
  left: 288px;
  top: 321px;
}
.time9 {
  position: absolute;
  width: 44px;
  height: 11px;
  left: 288px;
  top: 364px;
  padding-bottom:74px;
}
h3 {
  font-family: SF Mono;
font-style: bold;
font-weight: 600;
font-size: 12px;
line-height: 19px;

}
/*top increases in increments of 45px*/
.des1 {
color: #000000;
position: absolute;
width: 100%;
height: 15px;
left: 108px;
top: 10px;

}
.des2 {
  position: absolute;
  width: 100%;
  height: 15px;
  left: 108px;
  top: 53px;
}
.des3 {
  position: absolute;
width: 100%;
height: 15px;
left: 108px;
top: 98px;
}
.des4 {
  position: absolute;
  width: 100%;
  height: 15px;
  left: 108px;
  top: 143px;

}
.des5 {
  position: absolute;
  width: 100%;
  height: 15px;
  left: 108px;
  top: 185px;
}
.des6 {
  position: absolute;
  width: 100%;
  height: 15px;
  left: 108px;
  top: 226px;
}
.des7 {
  position: absolute;
  width: 100%;
  height: 15px;
  left: 108px;
  top: 271px;
}
.des8 {
  position: absolute;
  width: 100%;
  height: 15px;
  left: 108px;
  top: 316px;
}
.des9 {
  position: absolute;
  width: 100%;
  height: 15px;
  left: 108px;
  top: 362px;
}

h4  {
  font-family: SF Mono;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
}
h5 {
  color: #000000;
  font-family: SF Mono;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
/*top increases in incrememts of 45px*/
}
h6 {
  color: #8A8A8F;
  font-family: SF Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.012em;
/*top increases in incrememts of 45px*/
}
.origin1 {
  position: absolute;
width: 120px;
height: 10px;
left: 95px;
top: 24px;
}
.origin2 {
  position: absolute;
width: 120px;
height: 10px;
left: 95px;
top: 67px;
}
.origin3 {
  position: absolute;
width: 120px;
height: 10px;
left: 95px;
top: 113px;

}
.origin4 {
position: absolute;
width: 120px;
height: 10px;
left: 95px;
top: 158px;
}
.origin5 {
  position: absolute;
  width: 120px;
  height: 10px;
  left: 95px;
  top: 199px;
}
.origin6 {
  position: absolute;
  width: 120px;
  height: 10px;
  left: 95px;
  top: 242px;
}
.origin7 {
  position: absolute;
  width: 120px;
  height: 10px;
  left: 95px;
  top: 287px;
}
.origin8 {
  position: absolute;
  width: 120px;
  height: 10px;
  left: 95px;
  top: 331px;
}
.origin9 {
  position: absolute;
  width: 120px;
  height: 10px;
  left: 95px;
  top: 376px;
}
.user-start {
  color: #000000;
  position: relative;
width: 100%;
height: 30px;
left: 9px;
top: 40px;
z-index: 1600;

}
.fill-2{
  background-image: url(./Images/Fill-2.svg);
background-size:auto;
background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 242px;
  top: 31px;
z-index: 1600;

}
/* Map - Place */

.map {
  background-image: url(./Images/map-vector.svg);
  background-size: auto;
  background-repeat: no-repeat;
  position: absolute;
  width: 375px;
  height: 266px;
  left: -2px;
  top: 35px;
  border-bottom: .5px solid #BCBBC1;
z-index: 1500;
}

.status-bar {
  background-image: url(./Images/locked-clock.svg);
  background-size:auto;
  background-repeat: no-repeat;
  position: relative;
width: 375px;
height: 20px;
left: 0px;
top: -30px;
z-index: 1100;

}
.arrow1 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 14px;
z-index: 1100;
}

.arrow2 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 55px;
z-index: 1100;
}
.arrow3 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 101px;
z-index: 1100;
}
.arrow4 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 146px;
z-index: 1100;
}
.arrow5 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 188px;
z-index: 1100;
}
.arrow6 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 231px;
z-index: 1100;
}
.arrow7 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 274px;
z-index: 1100;
}
.arrow8 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 319px;
z-index: 1100;
}
.arrow9 {
  background-image: url(./Images/arrow-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

position: absolute;
width: 13.5px;
height: 13px;
left: 95px;
top: 365px;
z-index: 1100;
}
.carrot-vector {
  background-image: url(./Images/carrot-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;
  position: absolute;
width: 5.14px;
height: 4.46px;
left: 346.19px;
top: 110px;

}

.chevron1 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;



  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 12px;
  z-index: 1100;
}
.chevron2 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;



  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 57px;
  z-index: 1100;
}
.chevron3 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;



  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 102px;
  z-index: 1100;
}
.chevron4 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;



  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 147px;
  z-index: 1100;
}
.chevron5 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;

  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 192px;
  z-index: 1100;
}
.chevron6 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;



  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 237px;
  z-index: 1100;
}
.chevron7 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;



  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 282px;
  z-index: 1100;
}
.chevron8 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;



  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 327px;
  z-index: 1100;
}
.chevron9 {
  background-image: url(./Images/arrow-right-grey.svg);
  background-size:auto;
  background-repeat: no-repeat;



  position: absolute;
  width:20px;
  height: 20px;
left: 353px;
top: 372px;
  z-index: 1100;
}

.minutes{
  font-family: SF Mono;
font-style: light;
font-weight: 300;
font-size: 12px;
line-height: 19px;
letter-spacing: -.03em;
}
.minutes1{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 22px;
}
.minutes2{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 67px;
}
.minutes3{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 111px;
}
.minutes4{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 153px;
}
.minutes5{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 195px;
}
.minutes6{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 242px;
}
.minutes7{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 285px;
}
.minutes8{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 332px;
}
.minutes9{
  position: absolute;
width: 44px;
height: 11px;
left: 288px;
top: 375px;
}
.rectangle {
position: relative;
width: 243px;
height: 28px;
left: 15px;
top: -15px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;

padding-left: 8px;
padding-top: 4px;

}

.bus-icon {
  background-image: url(./Images/bus-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

  position: absolute;
width: 100px;
  height: 100px;
  left: 10%;
  top: 10%;
  z-index: 1500;

}
.clock-icon {
  background-image: url(./Images/clock-icon.svg);
  background-size:auto;
  background-repeat: no-repeat;

  position: absolute;
width: 50px;
  height: 50px;
  left: 32%;
  top: 10%;
  z-index: 1400;
}
.crowdsource-icon{
  background-image: url(./Images/crowdsource-icon.svg);
  background-size:auto;
  background-repeat: no-repeat;

  position: absolute;
width: 50px;
  height: 50px;
  left: 58%;
  top: 10%;
  z-index: 1400;
}
.elipsis-icon{
  background-image: url(./Images/elipsis-vector.svg);
  background-size:auto;
  background-repeat: no-repeat;

  position: absolute;
width: 50px;
  height: 50px;
  left: 84.5%;
  top: 35%;
  z-index: 1400;
}

.nearby{
  position: absolute;
width: 125px;
height: 12px;
left: 8%;
top: 65%;
color: #426BF2;
}
.recent{
  position: absolute;
  width: 79px;
  height: 11px;
  left: 30%;
  top: 69%;

}
.crowdsource{
  position: absolute;
  width: 125px;
  height: 12px;
  left: 52%;
  top: 67%;
}
.more{
  position: absolute;
  width: 125px;
  height: 12px;
  left: 85%;
  top: 68%;
}
/*.division-bar1{
  position: absolute;
left: 0px;
right: 0px;
top: 0px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
*/
.division-bar2{
  position: absolute;
left: 0px;
right: 0px;
top: 45px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
.division-bar3{
  position: absolute;
left: 0px;
right: 0px;
top: 89px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
.division-bar4{
  position: absolute;
left: 0px;
right: 0px;
top: 134px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
.division-bar5{
  position: absolute;
left: 0px;
right: 0px;
top: 178px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
.division-bar6{
  position: absolute;
left: 0px;
right: 0px;
top: 221px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
.division-bar7{
  position: absolute;
left: 0px;
right: 0px;
top: 264px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
.division-bar8{
  position: absolute;
left: 0px;
right: 0px;
top: 308px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
.division-bar9{
  position: absolute;
left: 0px;
right: 0px;
top: 352px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}
/*.division-bar10{
  position: absolute;
left: 0px;
right: 0px;
top: 396px;

background: #BCBBC1;
border: .5px solid #BCBBC1;
box-sizing: border-box;
border-radius: 0px;

padding-left: 8px;
padding-top: 0px;

}*/
